<div>
    <h1>Hola {{user.name}}!!</h1>

    {{#if isAdmin}}
    {{!!-- Iteramos la lista de comidas}}
    {{#each food}}

    <div>
        <p>Nombre: {{this.name}}</p>
        <p>Precio: {{this.price}}</p>
        <hr>
    </div>
    {{/each}}

    {{else}}
    <p>No tienes los permisos para ver la lista de comidas.</p>
    {{/if}}

</div>

<script src="/js/index.js"></script>